<div id="categories">
    <h2>Transaction Categories</h2>
    
    <div class="partial-body">
        <a href="/transactions/income">Income</a>
        <a href="/transactions/savings">Savings</a>
        <a href="/transactions/expenditures">Expenditures</a>
        <a href="/transactions/investments">Investments</a>
        <a href="/transactions/retirement">Retirement</a>
    </div>
</div>
