<div id="categories">
    <h2>Transaction Categories</h2>
    
    <div class="partial-body">
        <div class="cat-links" onclick="location.href='/transactions/income'">Income</div>
        <hr>
        <div class="cat-links" onclick="location.href='/transactions/savings'">Savings</div>
        <hr>
        <div class="cat-links" onclick="location.href='/transactions/expenditures'">Expenditures</div>
        <hr>
        <div class="cat-links" onclick="location.href='/transactions/investments'">Investments</div>
        <hr>
        <div class="cat-links" onclick="location.href='/transactions/retirement'">Retirement</div>
    </div>
</div>
