<div id="summary">
    <h2>Account Summary</h2>
    <table id="transactionTable">
        <thead>
            <tr>
                <th>Category</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody id="recentTrans">
            
        </tbody>
    </table>
    <script src="../public/js/summary.js"></script>
</div>