<div id="update">
    <h2>Transactions</h2>
    <div class="partial-body">
        <table id="transactionTable">
            <thead>
                <tr>
                    <th colspan="3">5 Recent Transactions</th>
                </tr>
                <tr>
                    <th>Category</th>
                    <th>Amount</th>
                    <th>Transaction Date</th>
                </tr>
            </thead>
            <tbody id="recentTrans">
                {{#each summary}}
                <tr>
                    <td>{{category}}</td>
                    <td>{{amount}}</td>
                    <td>{{dateOfTransaction}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        <button class="sidebarButtons" onclick="location.href='/transactions'">Add Transaction</button>
    </div>

    <script src="../public/js/summary.js"></script>
</div>