<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="utf-8">
        <title>Home</title> 
        <meta http-equiv="x-ua-compatible" content="ie=edge"> 

        <link rel="stylesheet" href="/public/css/registration.css">
    </head>

    <body> 
        <header> 
            <p class="home-link"><a href="/">Expense Tracker Homepage</a></p> 
        </header>
            {{> transaction_summary}} <!-- syntax for rendering partial -->
            <main>
                <p> 
                    {{{body}}}
                </p>
            </main>
        <footer>
            <p>Footer: CS 546_WS Summer 2023: Final Project</p>
        </footer>
    </body>    
 </html>
