<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Log-in Error!</title> 
    </head>
    <article  class="registerError"> 
    <h1>Log-in Error!</h1> 
        <p>User {{error}} log-in failed. Please, try again!</p>  
        <p class="log-in"><a href="/users/log-in">Go back to log-in</a></p>  
    </article>
</html>