{{!--

// ************************************************************** //
// Author: Faith Kim (Stevens ID: 10479600)                       //
// Course: CS 546 WS Summer 2023                                  //
// Title: Lab_10 (views/logout.handlebars) (due Augues. 6, 2023)  //
// ************************************************************** //

--}}
<!DOCTYPE html>
<html lang="en"> 
    <head> 
        <title>Logged-out Success!</title>  
    </head> 
<article> 
    <h1>Logged-out Success!</h1> 
    <p>{{logout}}</p>
    <p class="login"><a href="/login">log-in</a></p> 
</article>
</html>