<article  class="registerError"> 
    <h1>Registration Error!</h1> 
        <p>User email: {{error}} is already exist!</p>  
        <p class="registration-link"><a href="/users">Go back to Registration Page</a></p>  
</article> 
