<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Registration Success!</title>
    </head>
    <article> 
    <h1>Registration Success!</h1>
        <p>Thank you for resigeration. Please, use the email address {{email}} and password to log-in</p> 
        <p class="home-link"><a href="/">Expense Tracker to Log-in</a></p>  
    </article>
</html>