<article> 
    <h1>Registration Success!</h1> 
        <p>Thank you for resigeration. Please, use the email address {{email}} and password to log-in</p> 
        <p class="home-link"><a href="/users/login">Expense Tracker to Log-in</a></p>  
</article> 
