<div id="formDiv">
	<h2>Add Transaction</h2>
	<div class="notice">{{notice}}</div>
	<form id="updateForm" method="POST" action="/transactions">
  
		<label for="updateSelector">Category*</label><br>
		<select name="updateSelector" id="updateSelector">
			<option value="" disabled selected>Select</option>
			<option value="income">Income</option>
			<option value="savings">Savings</option>
			<option value="expenditure">Expenditure</option>
			<option value="retirement">Retirement</option>
			<option value="investment">Investment</option>
		</select><br>

		<label for="transactionInfo">Transaction Info</label><br>
		<textarea name="transactionInfo" id="transactionInfo" cols=“30” rows="4"></textarea><br>

		<label for="transactionAmount">Amount*</label>
		<input type="number" name="transactionAmount" id="transactionAmount"><br>

		<label for="transactionDate">Transaction Date</label>
		<input type="date" id="transactionDate" name="transactionDate"><br>

		<button type="submit" id="transactionBtn">Submit</button>
	</form>
	<a href="/" id="homeLink">Home</a>
</div>
<script src="/public/js/transactions.js"></script>

</body>

</html>