<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="utf-8">
        <title>Expense Tracker</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge"> 
        
        <link rel="icon" type="image/x-icon" href="/public/images/favicon.ico">

        <link rel="stylesheet" href="/public/css/main.css">
        <link rel="stylesheet" href="/public/css/user.css">
    </head>

    <body> 
        <header> 
            <div id="logo">
                <img src="/public/images/logo.png" href="/" alt="logo" width="100" height="100">
                <h1 class="home-link"><a href="/">Expense Tracker</a></h1> 
            </div>
        </header>
        <main> 
            {{{ body }}}
        </main>
        <footer>
            <div>
                <p>&copy; 2023, Expense Tracker &#183; Web Programming Final Project </p>
                <span id="credits">
                    <a href="https://www.linkedin.com/in/issacz/" target="_black">Issac Zheng</a>,
                    <a>Faith Kim</a>,
                    <a>Josh Cubero</a>,
                    <a>Ryah Hu</a>,
                    <a>Yangbo Liu</a>,
                    <a>Gautam A S</a> <!-- Please add your full name, I can't find it on Slack. -->
                </span>
            </div>
        </footer>
    </body>    
 </html>
