/* temporary styling for layout above. remove when proper css is added. */
main > div {
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

/* We'll use gridbox to make laying our dashboard out simpler */
/* https://css-tricks.com/snippets/css/complete-guide-grid/ */

html {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: monospace;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: [header] 1fr [main] 10fr [footer] 1fr;
}
main {
    grid-row: main;
    display: grid;
    grid-template-columns: [summary] 1fr [dash] 4fr [update] 1fr;
    grid-template-rows: [main] 1fr;
}
div#dashboard {
    grid-column: dash;
    grid-row: main;
}
div#summary {
    grid-column: summary;
    grid-row: main;
}
div#update {
    grid-column: update;
    grid-row: main;
}
header {
    grid-row: header;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f0f0f0;
}
footer {
    grid-row: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    font-size: 1.1rem;
}
footer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
span#credits > a {
    font-size: 0.9rem;
    text-decoration: none;
    color: black;
}
span#credits > a:hover {
    text-decoration: underline;
}
h1.home-link > a {
    text-decoration: none;
    color: black;
}
div#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}