/* temporary styling for layout above. remove when proper css is added. */
main > div#dashboard, main > div.category {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
a {
    color: black;
}

/* We'll use gridbox to make laying our dashboard out simpler */
/* https://css-tricks.com/snippets/css/complete-guide-grid/ */
/* And flexbox for formatting */
/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

html {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: monospace;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: [header] 1fr [main] 10fr [footer] 1fr;
}
main {
    grid-row: main;
    display: grid;
    grid-template-columns: [summary] 1fr [dash] 4fr [update] 1fr;
    grid-template-rows: [main] 1fr;
}
div#dashboard {
    grid-column: dash;
    grid-row: main;
}


div#dashboard label{
    margin-left :125px;
    font-size: 20px;
    font-weight: bold;
}


div#summary {
    grid-column: summary;
    grid-row: main;
}
div#update {
    grid-column: update;
    grid-row: main;
}
div#status {
    grid-column: dash;
    grid-row: main;
}
header {
    grid-row: header;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f0f0f0;
}
img {
    cursor: pointer;
}
footer {
    grid-row: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    font-size: 1.1rem;
}
footer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
span#credits > a {
    font-size: 0.9rem;
    text-decoration: none;
    color: black;
}
span#credits > a:hover {
    text-decoration: underline;
}
h1.home-link > a {
    text-decoration: none;
    color: black;
}
div#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* sidebars */
div#categories, div#update {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.partial-body {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10%;
}
.sidebarButtons {
    display: block;
    width: 50%;
    margin-bottom: 10px;
    padding: 10px 15px;
    background-color: #f0f0f0;
    border: 1px solid gray;               /* Remove default borders */
    border-radius: 5px;         /* Rounded corners */
    cursor: pointer;            /* Hand cursor when hovered */
    transition: background-color 0.3s;  /* Smooth transition for hover effect */
}
.sidebarButtons:hover {
    background-color: #e0e0e0;
}
.sidebarButtons:focus {
    outline: none;  /* Remove focus outline */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
}

/* categories */
div.category {
    display: grid;
    grid-template-columns: [back] 1fr [content] 19fr;
}
div.category > form.back {
    grid-column: back;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
div.category > form.back > input {
    width: 100%;
    height: 100%;
    text-decoration: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    background: linear-gradient(to right, #f0f0f0, #f0f0f0, white);
}
div.category > div.cat-body {
    grid-column: content;
    height: 100%;
    padding-left: 20px;
}
.cat-links {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.cat-links:hover {
    text-decoration: underline;
    cursor: pointer;
}
hr {
    width: 10%;
}

div#dashboard label#Green{
    margin-left: 0px;
    color: green;
}

div#dashboard label#Red{
    margin-left: 0px;
    color: red;
}

/* transactions */
th, td {
    font-size: 1.25rem;
    border: 1px solid;
    padding: 5px;
}