div#login {
    font-size: 1.5rem;
    grid-column: dash;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
div#notice {
    height: 2rem;
}

form {
    width: 300px;
}
input {
    width: 100%;
    margin-bottom: 1rem;
}
label > input {
    width: auto;
}
button {
    margin-top: 1rem;
}
span#register, span#login {
    margin-top: 1rem;
    width: 300px;
    font-size: 0.9rem;
    justify-self: flex-start;
}

span#pwConstraints {
    display: inline-block;
    font-size: 0.8rem;
    /* color: red; */
    line-height: 10px;
}