<div id="expenditures" class="category">
    <form action="/" method="GET">
        <input type="submit" value="<" />
    </form>    
    <div class="cat-body">
        EXPENDITURES SUMMARY
    </div>
</div>