<div id="investments" class="category">
    <form action="/" method="GET">
        <input type="submit" value="<" />
    </form>    
    <div class="cat-body">
        INVESTMENTS SUMMARY
    </div>
</div>