<div id="retirement" class="category">
    <form action="/" method="GET">
        <input type="submit" value="<" />
    </form>    
    <div class="cat-body">
        RETIREMENT SUMMARY
    </div>
</div>